pkgbase = lwks-stable
	pkgdesc = Lightworks is a professional video editing suite
	pkgver = 2021.1_r126716
	pkgrel = 1
	url = http://www.lwks.com/
	arch = x86_64
	license = EditShare
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = libjpeg-turbo
	depends = pango
	depends = curl
	depends = gtk3
	depends = portaudio
	depends = openssl
	depends = libgl
	depends = libtiff
	depends = libutil-linux
	depends = ffmpeg
	depends = glu
	depends = libedit
	depends = nvidia-cg-toolkit
	optdepends = nvidia-utils: only for nVidia users
	provides = lightworks
	conflicts = lightworks
	conflicts = lwks
	conflicts = lwks-beta
	conflicts = lwks-dev
	options = !strip
	source = https://github.com/HougeLangley/lwks-beta/releases/download/lwks-reversion/lightworks_2021.1_r126716.deb
	sha512sums = 7669f140ed9cd336d61f99d091decd59f7e2a293061e5ef42572e8d77907791deb626238e3101f3d1734824ba17184c8ed72cb1247052655caf7f6bb4cb1af28

pkgname = lwks-stable

