pkgbase = lwks-stable
	pkgdesc = Lightworks is a professional video editing suite
	pkgver = 2021.1.
	pkgrel = 1
	url = http://www.lwks.com/
	arch = x86_64
	license = EditShare
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = libjpeg-turbo
	depends = pango
	depends = curl
	depends = gtk3
	depends = portaudio
	depends = openssl
	depends = libgl
	depends = libtiff
	depends = libutil-linux
	depends = ffmpeg
	depends = glu
	depends = libedit
	depends = nvidia-cg-toolkit
	optdepends = nvidia-utils: only for nVidia users
	provides = lightworks
	conflicts = lightworks
	conflicts = lwks
	conflicts = lwks-beta
	conflicts = lwks-dev
	options = !strip
	source = https://github.com/HougeLangley/lwks-beta/releases/download/lwks-reversion/lightworks_2020.1.1_r124942.deb
	sha512sums = 9b462a1c3397fa069316560cb58ce39f4122fbb70df5ce518f1efcbad1e11e479368225f1e5be54e8b34d0693f36327959fc3f20928fbaad0f9e4eccb5437bf9

pkgname = lwks-stable

